---
- name: Configure Libreddit container
  community.docker.docker_container:
    name: libreddit
    image: 'libreddit/libreddit'
    env:
      LIBREDDIT_DEFAULT_THEME: "{{ libreddit_theme }}"
      LIBREDDIT_DEFAULT_USE_HLS: "{{ libreddit_hls }}"
      LIBREDDIT_DEFAULT_HIDE_HLS_NOTIFICATION: "{{ libreddit_hls_hide }}"
    ports:
      - "{{ libreddit_port }}:8080"
    restart_policy: always
