{# Config for Nginx reverse proxy for single container #}
# ------------------------------------------------------------
# homer.box
# ------------------------------------------------------------

server {
  set $forward_scheme http;
  set $server         "{{ homeserver_ip }}";
  set $port           "{{ homer_port }}";

  listen 80;
  listen [::]:80;

  server_name homer.box;

  location / {

    # Proxy!
    include /etc/nginx/conf.d/include/proxy.conf;
  }

}
