{# Config for Nginx reverse proxy for single container #}
{% for item in web_applications if item.url != "" %}
# ------------------------------------------------------------
# {{ item.url.replace('http://', '') }}
# ------------------------------------------------------------


server {
  set $forward_scheme http;
  set $server         "192.168.1.30";
  set $port           "{{ item.port }}";

  listen 80;
  listen [::]:80;

  server_name {{ item.url.replace('http://', '') }};

  location / {

    # Proxy!
    include /etc/nginx/conf.d/include/proxy.conf;
  }

}
{% endfor %}
